h1 h2 h3 h4 h5 body {
  font-family: "Lato", sans-serif;
}

.site-title {
  font-size: 46px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: black;
  float: right;
  padding-top: 12px;
  padding-bottom: 6px;
}

.site-description {
  vertical-align: baseline;
  float: right;
  clear: right;
  padding-bottom: 6px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.navbar {
  position: fixed;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  background-color: #FFF;
  z-index: 100;
  right: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  line-height: 89px;
}

.navbar-compact {
  bottom: 0;
  border-top: 2px solid rgba(0,0,0,0.1);
  position: inherit;
  background-color: inherit;
  text-align: center;
  line-height: 50px;
}

.header-links h3{
  text-decoration: none;
  color: black;
  line-height: inherit;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.header-links li{
  display: inline-block;
}

.footer {
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer img {
  height: 45px;
  padding: 6px;
}

.footer ul li {
  text-align: center;
  display: inline-block;
}

.footer-spacer {
  padding-bottom: 25px;
}

.image-spacer-top{
  padding-top: 85px;
}

body {
    font-size: 11pt;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 {
    letter-spacing: 5px;
    font-size: 7rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 40px
    margin-bottom: 32px;
    margin-top: 44px;
}

h1,h2   {
  text-align:center;
  line-height: 1;
  margin: 0;
}

#instagram a:hover{
  opacity: .8;
}

#instagram a{
  padding:8px;
}

#instagram {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 12px;
  margin-left: 8vw;
  margin-right: 8vw;

  img {
    width: 100%;
  }
}
