<div class="footer col-xs-24" align="center">
  <ul>
    <li>
      <a href="https://www.instagram.com/ivor.and.morti/">
        <img class="img-responsive" alt="instagram logo" src="{{site.url}}/images/Brands/instagram_logo.png">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/ivor.and.morti/">
        <img class="img-responsive" alt="facebook logo" src="{{site.url}}/images/Brands/fb_logo.png">
      </a>
    </li>
  </ul>
  <div class="footer-spacer hidden-md hidden-lg hidden-xl"></div>
</div>
