<div class="navbar">
  <div class="col-xs-24 col-md-12 pull-right">
    <a title="Ivor J Berry" href="{{site.url}}" style="text-decoration: none;">
      <h1 class="site-title">Ivor J Berry</h1>
    </a>
    <h2 class="site-description">Adventurer. Writer. Life Enthusiast.</h2>
  </div>
  <div class="col-md-12 hidden-sm hidden-xs pull-left header-links">
    <div class="col-xs-8">
        <a title="Adventure blog" href="{{site.url}}/adventure" style="text-decoration: none;">
          <h3>Adventure</h3>
        </a>
    </div>
    <div class="col-xs-8">
        <a title="Tech blog" href="{{site.url}}/tech" style="text-decoration: none;">
          <h3>Tech</h3>
        </a>
    </div>
    <div class="col-xs-8">
        <a title="Tech blog" href="{{site.url}}/contact" style="text-decoration: none;">
          <h3>Reach out</h3>
        </a>
    </div>
  </div>
  <div class="col-xs-24 hidden-md hidden-lg hidden-xl pull-left navbar-compact header-links">
    <div class="col-xs-8">
        <a title="Adventure blog" href="{{site.url}}/adventure" style="text-decoration: none;">
          <h3>Adventure</h3>
        </a>
    </div>
    <div class="col-xs-8">
        <a title="Tech blog" href="{{site.url}}/tech" style="text-decoration: none;">
          <h3>Tech</h3>
        </a>
    </div>
    <div class="col-xs-8">
        <a title="Tech blog" href="{{site.url}}/contact" style="text-decoration: none;">
          <h3>Reach out</h3>
        </a>
    </div>
  </div>
</div>
