<div class="navbar">
  <div class="col-xs-24 col-md-12 pull-right">
    <a title="Ivor J Berry" href="https://ivorjberry.com" style="text-decoration: none;">
      <h1 class="site-title">Ivor J Berry</h1>
    </a>
    <p class="site-description">Adventurer. Writer. Life Enthusiast.</p>
  </div>
  <div class="col-md-12 hidden-sm hidden-xs pull-left header-links">
    <a title="Adventure blog" href="https://ivorjberry.com" style="text-decoration: none;">
      <h3>Blog</h3>
    </a>
  </div>
  <div class="col-xs-24 hidden-md hidden-lg pull-left navbar-compact header-links">
    <a title="Adventure blog" href="https://ivorjberry.com" style="text-decoration: none;">
      <h3>Blog</h3>
    </a>
  </div>
</div>
